{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h1 class="mt-2 mb-4" style="">{{ title }}</h1>

    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">TITLE</th>
        <th scope="col">AUTHOR</th>
        <th scope="col">PUBLICATION YEAR</th>
      {% if average_rating %}
        <th scope="col">AVERAGE RATING</th>
      {% endif %}
      </tr>
    </thead>
        <tbody>
          <tr>
            <td>{{ isbn }}</td>
            <td>{{ title }}</td>
            <td>{{ author }}</td>
            <td>{{ year }}</td>
            {% if average_rating %}
            <td>{{ average_rating }}</td>
            {% endif %}
          </tr>
        </tbody>
  </table>
    <h2 class="mt-5 mb-4" style="">Reviews</h2>
        {% if reviews %}
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Feedback</th>
              </tr>
            </thead>
            <tbody>
            {% for i in reviews %}
              <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No reviews yet</p>
        {% endif %}

    <h3 class="mt-5 mb-4" style="">Leave a review</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group ">
            {{ wtf.form_field(form.rating) }}
        </div>
        <div class="form-group mb-0 ">
            {{ wtf.form_field(form.feedback) }}
        </div>
        <button class="btn btn-primary " type="submit">Submit</button>
    </form>
{% endblock %}